// Global

body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 880px;
}

p {
  font-size: $font-size-p;
  line-height: $base-line-height;
  color: $p-color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
  // font-weight: $w-light;
  color: $h2-color;
}

h3 {
  color: $h3-color;
  font-size: $font-size-h3;
  font-weight: $w-semibold;
  line-height: $base-line-height;
}

h4 {
  font-size: $font-size-h4;
  color: $h4-color;
  font-weight: $w-bold;
}

h5 {
  font-size: $font-size-h5;
  color: $h5-color;
  font-weight: $w-bold;
}

$orange: rgb(236, 172, 89);
.btn-orange {
  color: rgb(99, 71, 34);
  background: $orange;
  border-radius: 6px;
  font-size: 18px;
  width: 120px;
  &:hover {
    border: 1px solid $orange;
    background: none;
    color: whitesmoke;
  }
}

$brown: rgb(161, 126, 29);
.btn-brown {
  border: 1px solid $brown;
  color: $brown;
  border-radius: 6px;
  font-size: 18px;
  width: 180px;
  &:hover {
    color: #fff;
    background: $brown;
  }
}

// Hero
.hero {
  min-height: 1200px;
  background: url("../img/bg.jpeg") center center;
  background-color: rgba(119, 119, 119, 0.192);
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  filter: blur(6px);
  @media (max-width: 540px) {
    min-height: 1000px;
  }
}
.hero-content {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  width: 90%;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
  min-width: 200 px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  align-items: center;
  @media (max-width: 540px) {
    top: 50%;
  }

  .row {
    margin: 5px;
    padding: 5px;
    justify-content: center;
    align-items: center;
  }
  // images
  img {
    width: auto;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    transition: all 0.5s ease;
    max-width: 100%;
  }
  .chitarra {
    transform: rotate(350deg);
    margin-bottom: 10px;
  }
  .progress-bar {
    width: 25%;
    background-color: rgb(204, 134, 42);
  }
  &:hover {
    .prod-sold {
      position: absolute;
      z-index: -1;
      display: none;
    }
    .prod-desc {
      display: block;
    }
    .chitarra {
      transform: scale(1.05);
    }
  }
}

.contributo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .contr-label {
    margin-right: 1rem;
    color: $black-color;
  }
  .contr-input {
    width: 60px;
    padding: 6px;
  }
}

.my-cart-buttons {
  .btn {
    color: #fff;
    height: 40px;
  }
  .btn-ricom {
    background: rgb(180, 180, 180);
    border-radius: 6px;
    &:hover {
      background: rgb(116, 116, 116);
    }
  }
  .btn-regala-fill {
    background: rgb(236, 172, 89);
    border-radius: 6px;
    &:hover {
      background: rgb(214, 138, 38);
    }
  }
  svg {
    margin-left: 3px;
    width: 1.2rem;
    fill: #fff;
    height: 1.2rem;
  }
}
