// Global

body {
  background-color: whitesmoke;
}
.container {
  max-width: 880px;
}

p {
  font-size: $font-size-p;
  line-height: $base-line-height;
  color: $p-color;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $w-light;
  color: $h2-color;
}

h3 {
  color: $h3-color;
  font-size: $font-size-h3;
  font-weight: $w-semibold;
  line-height: $base-line-height;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  color: $h5-color;
  font-weight: $w-bold;
}

.btn-orange {
  color: rgb(99, 71, 34);
  background: rgb(236, 172, 89);
  border-radius: 6px;
  font-size: 18px;
  width: 120px;
  &:hover {
    border: 1px solid rgb(236, 172, 89);
    background: none;
    color: #fff;
  }
}

$brown: rgb(161, 126, 29);
.btn-brown {
  border: 1px solid $brown;
  color: $brown;
  border-radius: 6px;
  font-size: 18px;
  width: 180px;
  &:hover {
    color: #fff;
    background: $brown;
  }
}

// Hero
.hero {
  min-height: 1000px;
  background: url("../img/bg.jpeg") center center;
  background-color: rgba(119, 119, 119, 0.192);
  background-blend-mode: multiply;
  background-size: cover;
  position: relative;
  filter: blur(6px);

  //   @media (max-width: 580px) {
  //     background-image: url("../img/ter_media.jpg");
  //   }
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.hero-img {
  img {
    height: auto;
    width: 400px;
    max-width: 90%;
    transform: rotate(340deg);
  }
}
.hero-text {
  margin-top: 30px;
  font-size: large;
  color: white;
}

.prod {
  color: white;
  min-width: 200 px;
  overflow: hidden;
  transition: all 0.2s ease-in;
  .prod-grid {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
    h4 {
      padding-top: 10px;
    }
    img {
      width: auto;
      height: auto;
      max-width: 200px;
      max-height: 120px;
      object-fit: contain;
      transition: all 0.5s ease;
      transform: rotate(340deg);
    }
  }
  .prod-buy {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .contributo {
    display: flex;
    align-items: center;
    justify-content: center;
    .contr-label {
      margin-right: 10px;
    }
    .contr-input {
      width: 120px;
      padding: 6px;
    }
  }

  .progress-bar {
    width: 25%;
    background-color: rgb(204, 134, 42);
  }
  &:hover {
    .prod-sold {
      position: absolute;
      z-index: -1;
      display: none;
    }
    .prod-desc {
      display: block;
    }
    img {
      transform: scale(1.1);
    }
  }
}
